.lyric {
  width: 100%;
  height: calc(100% - 280px);
  position: relative;
  top: 60px;
  overflow: hidden;
}
.lyricBox {
  width: 80%;
  margin-top: 180px;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  color: #808080;
  /* font-size: 0.9rem; */
  font-size: 14px;
}
.lyricBox p {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.curLyric {
  color: white;
}
