/* 播放歌曲的图片 */
.musicLogo {
  width: 70vmin;
  height: 70vmin;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* 除去上面的50px和下面160px后，实现空白部分的垂直居中，先top50%,再top-50%自身高度 */
  top: calc((100% - 160px - 50px ) / 2 + 50px - 35vmin);
  border-radius: 50%;
  box-shadow: 0 0 0 5px	#DCDCDC;
}
.musicLogo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* 歌曲选项 */
.musicBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 140px;
}
.commentsBox {
  position: relative;
}
.commentsFont {
  font-size: 0.7rem;
  color: white;
  position: absolute;
  left: 18px;
  bottom: 18px;
}
.fade-enter, .fade-leave-to {
  transform: translate3d(0, 100%, 0);
} 
.fade-enter-to, .fade-leave {
  transform: translate3d(0, 0px, 0);
}
.fade-enter-active, .fade-leave-active {
  transition: all 0.5s;
}
.collectSuccessful {
  width: 100px;
  padding: 50px 10px 20px 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  font-size: 0.9rem;
  color: white;
  background: rgb(90, 90, 90, 0.5) url('../../assets/collectSuccessful.png') no-repeat center 30%;
}
.collect-enter, .collect-leave-to {
  opacity: 0;
} 
.collect-enter-to, .collect-leave {
  opacity: 1;
}
.collect-enter-active, .collect-leave-active {
  transition: all 0.5s;
}