.songListBody {
  width: 100%;
}
.listData {
  width: 100%;
  height: calc(40vw + 66px);
  position: relative;
  left: 0;
  top: 0;
  margin: 20px 0 0 0;
}
/* 歌单封面 */
.picBox {
  width: 40vw;
  height: 40vw;
  margin-left: 10px;
  position: relative;
}
.playPic {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
}
.loveIcon {
  width: 60%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.loveListMask::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.playCount {
  font-size: 0.7rem;
  color: #F0F8FF;  
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(0, 0, 0, 0.2) url('../../assets/earphones.png') no-repeat;
  padding-left: 15px;
}
.detail {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
/* 歌单名和作者 */
.creator {
  width: 50vw;
  height: 40vw;
  position: absolute;
  left: calc(40vw + 20px);
  top: 0;  
  color: white;
  overflow: hidden;
}
.listTitle {
  position: absolute;
  top: 5vw;
  overflow: hidden;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  text-overflow: ellipsis;
}
/* 设置一个容器装载是为了不论作者昵称多长右箭头都能紧挨在右边 */
.nickNameBox {
  width: calc(100% - 45px);
  height: 35px;
  position: absolute;
  bottom: 5vw;
  padding-left: 43px;
  overflow: hidden;
}
.nickName {
  max-width: calc(100% - 55px);
  line-height: 35px;
  padding-right: 10px;
  position: absolute;
  background: url('../../assets//rightArrow.png') no-repeat calc(100% + 10px) 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.creatorPic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 5vw;
}
/* 功能选项 */
.bar {
  width: 100%;
  font-size: 0.75rem;
  color: white;
  padding: 10px 0 5px 0;
  box-sizing: border-box;
  position: relative;
}
.commentCount {
  background: url('../../assets/comments1.png') no-repeat center 0;
  position: absolute;
  left: 0;
  width: 25%;
  height: 40px;
  text-align: center;
  line-height: 70px;
}
.shareCount {
  background: url('../../assets/share2.png') no-repeat  center 0;
  position: absolute;
  left: 25%;
  height: 40px;
  width: 25%;
  text-align: center;
  line-height: 70px;
}
.download {
  background: url('../../assets/download.png') no-repeat center 0;
  position: absolute;
  left: 50%;
  width: 25%;
  height: 40px;
  text-align: center;
  line-height: 70px;
}
.selects {
  background: url('../../assets/selects.png') no-repeat center 0;
  position: absolute;
  left: 75%;
  width: 25%;
  height: 40px;
  text-align: center;
  line-height: 70px;
}
.songs {
  width: 100%;
}
.songsBar {
  width: 100%;
  height: 50px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}
.playAll {
  background: url('../../assets/play1.png') no-repeat 15px 30px;
  padding: 30px 0  0 40px;
  line-height: 47px;
}
.songCount {
  font-size: 0.8rem;
}
.collect {
  float: right;
  font-size: 0.75rem;
  width: 120px;
  height: 50px;
  background: #DB4139 url('../../assets/collect.png') no-repeat 5px 16px;
  padding-left: 25px;
  box-sizing: border-box;
  line-height: 50px;
  color: white;
  border-top-right-radius: 10px;
}
.song {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}
.song:after {
  content: '';
  width: calc(100% - 40px);
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid #DCDCDC;
  margin-left: 40px;
}
.songNum { 
  width: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #C0C0C0;
}
.playing {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.songName {
  width: calc(100% - 120px);
  position: absolute;
  left: 40px;
  top: 7px;
  font-size: 0.92rem;
  /* 超出的宽度的文本用省略号显示 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.writer {
  width: calc(100% - 120px);
  font-size: 0.7rem;
  position: absolute;
  left: 40px;
  bottom: 7px;
  color: #C0C0C0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.showMv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../../assets/video2.png') no-repeat calc(100% - 45px) center;
}
.more {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.mask {
  width: 100%;
  height: calc(100% + 100px);
  background-color: rgba(94, 89, 89, 0.4);
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 99;
}
