.songListBody {
  width: 100%;
}
.listData {
  width: 100%;
  height: 40vw;
  position: relative;
  left: 0;
  top: 0;
  margin: 20px 0;
}
/* 歌单封面 */
.picBox {
  width: 40vw;
  height: 40vw;
  margin-left: 10px;
  position: relative;
}
.playPic {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.playCount {
  font-size: 0.7rem;
  color: #F0F8FF;  
  position: absolute;
  right: 5px;
  top: 5px;
  background: url('../../assets/earphones.png') no-repeat;
  padding-left: 15px;
}
.detail {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
/* 歌单名和作者 */
.creator {
  width: 50vw;
  height: 100%;
  position: absolute;
  left: calc(40vw + 20px);
  top: 0;
}
.listTitle {
  position: absolute;
  top: 5vw;
  overflow: hidden;
  white-space: pre-wrap;
}
.nickName {
  position: absolute;
  bottom: 5vw;
  background: url('../../assets//rightArrow.png') no-repeat 100% 5px;
  padding-left: 43px;
  padding-right: 25px;
  line-height: 35px;
  font-size: 0.8rem;
}
.creatorPic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 5vw;
}
