.songList { 
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.headerBar {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #DB4139;
}
.back {
  padding: 10px;
  float: left;
}
.more, .musicIcon {
  padding: 10px;
  float: right;
}
.songFont {
  width: calc(100% - 150px);
  color: white;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 占据fixed的空间 */
.emptyClass {
  width: 100%;
  height: 50px;
  position: relative;
  left: 0;
  top: 0;
}
.header {
  width: 100%;
  position: relative;
}
/* 毛玻璃背景图 */
.blurBg {
  width: 100%;
  /* 作者部分40vw + 功能bar66px，阻止毛玻璃效果延伸下去 */
  height: calc(40vw + 66px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
  overflow: hidden;
  filter: blur(40px); 
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -ms-filter: blur(40px);
  -o-filter: blur(40px);
}
.blurBg::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
.searchBox {
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 20px;
}
.search {
  width: 90%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0; 
  transform: translateX(-50%);
  margin: 10px 0;
  line-height: 30px;
  border: 1px solid	#C0C0C0;
  border-radius: 30px;
  background: url(../../assets/search.png) no-repeat 30% 6px;
  padding-left: calc(30% + 10px);
  box-sizing: border-box;   
  outline: none;
  cursor: pointer;
  color: #C0C0C0;
}
.songList::after {
  content: '';
  width: 100%;
  height: 50px;
  position: relative;
  left: 0;
  bottom: 0;
  display: block;
}
