.myselfUser {
  width: 100%;
  height: 20vmin;
  background-color: #DB4139;
  position: relative;
}
.myselfUserBox {
  width: 95%;
  height: 15vmin;
  background-color: rgb(252, 246, 246);
  position: relative;

  margin: auto;
  
}

.myselfHeadPortrait {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  /* object-position: 100% 50%; */
  object-fit: cover;
}