.myselfHeader {
  width: 100%;
  height: 50px;
  background-color: #DB4139;
  text-align: center;
  position: relative;
}
.myselfHeaderFont {
  color: white;
  line-height: 50px;
}
.cloudIcon {
  padding: 10px;
  width: 30px;
  height: 30px;
  float: left;
}
.musicIcon {
  padding: 10px;
  width: 30px;
  height: 30px;
  float: right;
}