.mySongList {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.listBar {
  width: 100%;
  padding: 6px 0;
  font-size: 0.75rem;
  background-color: #eeee;
  position: relative;
}
.listBarFont {
  padding-left: 30px;
  box-sizing: border-box;
}
.newList {
  float: right;
  padding-right: 10px;
}
.myList {
  width: 100%;
  height: 50px;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
/* 删除按钮退出 */
.myList[data-type="0"] {
  transform: translate3d(0, 0, 0);
}
/* 删除按钮进入 */
.myList[data-type="1"] {
  transform: translate3d(-60px, 0, 0);
}
.delete {
  width: 60px;
  height: 54px;
  position: absolute;
  right: -60px;
  top: 0;
  background-color: #e2362d;
  color: white;
  line-height: 54px;
  text-align: center;
  font-size: 0.85rem;
  transition: all 0.5s;
  z-index: 99;
}
/* 移动端隐藏滚动条 */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}
.myListPicBox {
  width: 50px;
  height: 50px;
  background-size: cover;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin: 4px 0 0 4px;
}
/* 只有我喜欢的音乐需要蒙版 */
.loveListMask::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.myListPic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.myListTitle {
  width: calc(100% - 70px);
  position: absolute;
  left: 60px;
  top: 10px;
  font-size: 0.85rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.myListCount {
  position: absolute;
  left: 60px;
  bottom: 4px;
  font-size: 0.7rem;
}
/* 下划线 */
.myList::before {
  content: "";
  width: calc(100% - 60px);
  position: absolute;
  left: 60px;
  top: 100%;
  margin-top: -1px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}
/* 模态框 */
.modalFrame {
  background-color:rgb(180, 174, 174);
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10000;
  border-radius: 8px;
}
.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.headerTitle {
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
  padding: 6px 0;
}
.content {
  font-size: 0.85rem;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}
.inputBox {
  width: 100%;
  height: 25px;
  border: 1px solid transparent;
  margin-top: 8px;
}
.btn {
  width: 50%;
  float: left;
  padding: 6px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
}
/* footer是固定定位，所以要设置一个伪元素占位！！ */
.mySongList:after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}