.box {
  width: 100%;
  overflow: hidden;
}
/* mv下面的背景色 */
.mvBox:after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #DCDCDC;
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.mv {
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.detail {
  padding: 3px 3px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  white-space: pre-wrap;
  font-size: 0.8rem; 
  display: inline-block;
}
.name {
  position: relative;
  left: 5px;
  bottom: 2px;
}
.publishTime {
  /* position: relative; */
  /* right: 5px; */
  float:right;
  font-size: 0.7rem;
}
/* footer是固定定位，所以要设置一个伪元素占位！！ */
.box:after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* 本来是50px，减掉每个mv下面的5px背景色 */
  height: 45px;   
}