.friendHeader {
  width: 100%;
  position: fixed;
  background-color: #DB4139;
  text-align: center;
  line-height: 50px;
}
/* 字体 */
.friendHeaderFont {
  border: 1px solid #DCDCDC;
  border-radius: 30px;
  padding: 5px 20px;
  display: inline;
  color: #DCDCDC;
}
.dynamic {
  padding-right: 20px;
}
.nearBy {
  padding-left: 20px;
}
/* 动态激活时的样式 */
.dynamicActive {
  position: relative;
  color: #DB4139;
}
.dynamicActive::after {
  content: "";
  /* 需要计算出伪元素的宽高以及left和top */
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  position: absolute;
  left: -20px;
  top: -5px; 
  border: 1px solid #DCDCDC;
  background-color: white;
  z-index: -99;
  border-radius: 30px;  
}
/* 附近激活时的样式 */
.nearByActive {
  position: relative;
  color: #DB4139;
}
.nearByActive::after {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  position: absolute;
  right: -20px;
  top: -5px; 
  border: 1px solid #DCDCDC;
  background-color: white;
  z-index: -99;
  border-radius: 30px;  
}
/* 左右两个icon */
.addFriend {
  padding: 10px;
  width: 32px;
  height: 32px;
  float: left;
}
.friendMusic {
  padding: 10px;
  width: 30px;
  height: 30px;
  float: right;
}
