.carousel {
  position: relative;
  width: 100%;
  /* 根据轮播图片的宽高比例计算容器的高度 */
  height: calc(95vw / 2.7);
  overflow: hidden;
}
/* 使用伪类来制造轮播图的背景红色 */
.carousel::before {
  content: "";
  width: 100%;
  height: calc(95vw / 4);
  background-color: #DB4139;
  position: absolute;
  z-index: -99;
}
.carousel-picture {
  width: 100%;
  height: 100%;
  list-style-type: none;
  position: absolute;
  z-index: -98;
  /* 在li里添加了v-show后需要加添加overflow-x: hidden才能让页面不抖动 */
  overflow-x: hidden;
}
.carousel-picture li {
  width: 100%;
  /* 需要绝对定位才能使transition中的transl起作用 */
  position: absolute;
  text-align: center;
}
img {
  border-radius: 7px;
  width: 95%;
  height: 100%;
}
/* 轮播图的圆点标记 */
.carousel-label {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.carousel-label span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(216, 228, 224, 0.6);
  display: inline-block;
  margin: 0 3px;
  z-index: 999;
}
/* 设置圆点激活时的颜色变化，如果不加！important就无法覆盖原先的背景颜色 */
.activeCarousel {
  background-color: #DB4139 !important;
}
/* 类名选择器使第一张图片不右移 */
.carousel-enter.noFirst {
  transform: translateX(100%);
}
.carousel-enter-to, .carousel-leave {
  transform: translateX(0);
} 
.carousel-leave-to {
  transform: translateX(-100%);
}
.carousel-enter-active {
  transition: all 1s ease;
}
.carousel-leave-active {
  transition: all 1s ease;
} 