.exploreHeader {
  width: 100%;
  /* height: 105px; */
  position: fixed;
  z-index: 1000;
}
/* 使用一个空的div占据fixed定位的位置 */
.emptyClass {
  width: 100%;
  height: 105px;
  position: relative;
  left: 0;
  top: 0;
}
/* 个性推荐和主播电台 */
.exploreHeaderBar {
  background-color: #DB4139;
  color: rgba(248, 248, 255, 1);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  outline: none;
}
.exploreHeaderBar label {
  cursor: pointer;
}
/* 设置个性推荐和主播电台的下划线 */
.activeClass {
  position: relative;
}
.activeClass::after {
  content: "";
  width: 50%;
  border: 1.8px solid white;
  border-radius: 25%;
  position: absolute;
  bottom: -5px;
  left: 25%;
}
.exploreBody {
  width: 100%;
}
