.header {
  background-color: #DB4139;
  width: 100%;
}
/* 左上方的音频icon */
.audio {
  padding: 10px;
  width: 30px;
  height: 30px;
}
/* 中间的搜索框 */
.search {
  /* 减去左右两边icon的padding和width */
  width: calc(100% - 100px);
  height: 30px;
  position: absolute;
  top: 12px;
  border-radius: 30px;
  border: 1px solid transparent;
  color: rgba(248, 248, 255, 0.6);
  background: url(../../assets/search.png) no-repeat rgba(223, 100, 92, 0.7);
  background-position: 8px 7px;
  /* 控制字体在搜索icon的右边 */
  padding-left: 30px;
  line-height: 30px;
  outline: none;
  /* 使padding不影响搜索框的宽 */
  box-sizing: border-box;   
  cursor: pointer;
}
/* 右上方的音乐icon */
.music {
  padding: 10px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}

.searchSongs {
  width: 100%;
  height: calc(100vh - 105px);
  position: relative;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.song {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  background: url('../../assets/more2.png') no-repeat calc(100% - 10px) center;
}
.song:after {
  content: '';
  width: calc(100% - 40px);
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid #DCDCDC;
  margin-left: 40px;
}
.playing {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.songName {
  width: calc(100% - 120px);
  position: absolute;
  left: 40px;
  top: 7px;
  font-size: 0.92rem;
  /* 超出的宽度的文本用省略号显示 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.writer {
  width: calc(100% - 120px);
  font-size: 0.7rem;
  position: absolute;
  left: 40px;
  bottom: 7px;
  color: #C0C0C0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.showMv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../../assets/video2.png') no-repeat calc(100% - 45px) center;
}
