.header {
  display: inline;
  /* position: relative; */
}
.audio {
  padding: 10px;
  width: 30px;
  height: 30px;
}
.search {
  /* 减去左右两边icon的padding和width */
  width: calc(100% - 100px);
  height: 30px;
  position: absolute;
  top: 12px;
  border-radius: 30px;
  border: 1px solid transparent;
  /* color: rgba(247, 177, 165, 0); */
  color: rgba(248, 248, 255, 0.6);
  background: url(../../assets/search.png) no-repeat rgba(223, 100, 92, 0.7);
  background-position: 8px 7px;
  /* 控制字体在搜索icon的右边 */
  padding-left: 30px;
  line-height: 30px;
  outline: none;
  /* 使padding不影响搜索框的宽 */
  box-sizing: border-box;    
}
.music {
  padding: 10px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}

