.recomendationSongList {
  width: 100%;
  position: relative;
  left: 0;
  top: 30px;
  overflow-x: hidden;
}
.recomendationFont {
  margin: 10px;
  background: url('../../assets//rightArrow2.png') no-repeat 4rem ;
}
.box {
  margin: 0 5px 0 15px;
  /* 阻止滚动时是div内部滚动的 */
  overflow: hidden;
}
.songListBox {
  width: calc((100% - 50px) / 3);
  height: calc((100vw - 50px) / 3);
  float: left;
  margin: 0 10px 15px 0; 
  font-size: 0.8rem;
  padding-bottom: calc(1.6rem + 10px);    
  position: relative;
}
/* 歌单图片 */
.songLogo {
  width: 100%;
  height: 100%; 
  border-radius: 3px;
}
/* 歌单播放量 */
.playCount {
  position: absolute;
  right: 5px;
  top: 2px;
  color: 		#F0F8FF;  
  font-size: 0.65rem;
  background: url('../../assets/earphones.png') no-repeat;
  padding-left: 15px;
}
/* 歌单名 */
.songName {
  width: 100%;
  height: rem;
  display: block;
  overflow: hidden;
  white-space: pre-wrap;
  /* 设置对于超过两行的文本内容以省略号代替 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  -moz-box-orient: vertical;
  -moz-line-clamp: 2;
  box-orient: vertical;
  line-clamp: 2; 
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: b1lack;
}
/* footer是固定定位，设置一个伪元素占位 */
.recomendationSongList::after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 50px;
}

