* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: rgb(216, 228, 224);
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
/* 未点击路由时的字体样式 */
 a > p {
  font-size: 60%;
  text-align: center;
  color: #C0C0C0;
}
/* 点击路由后将字体颜色变成红色 */
.router-link-active > p {
  color: #DB4139;
}