.musicPlay {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  /* z-index: 9999; */
  overflow-y: hidden;
  background-color: 	rgba(121, 137, 108, 0.4);
}
.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(222, 223, 227);
}
/* 后退按钮 */
.leftArrow {
  padding: 10px;
}
/* 分享按钮 */
.share {
  padding: 10px;
  float: right;
}
/* 歌手和歌名 */
.songs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 50px;
  display: inline-block;
  text-align: center;
  color: white;
  /* 歌名歌手不换行 */
  white-space: nowrap;
  overflow: hidden;
}
.songTitle {
  font-size: 0.9rem;
  position: relative;
  top: 10px;
}
.singer {
  padding-right: 20px;
  background: url('../assets/rightArrow1.png') no-repeat 90% 0;
  font-size: 0.7rem;
  position: relative;
  bottom: -8px;
}
/* 播放歌曲的图片 */
.musicLogo {
  width: 70vmin;
  height: 70vmin;
  position: relative;
  top: 50px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 0 5px	#DCDCDC;
}
.musicLogo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* 歌曲选项 */
.musicBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0; 
  top: 100px;
}
/* 进度条和时间显示 */
.progressBar {
  width: 100%;
  color: rgb(144, 145, 150);
  font-size: 0.7rem;
  position: fixed;
  bottom: 85px;
}
.currentTime {
  float: left;
  padding: 15px;
}
.totalTime {
  float: right;
  padding: 15px;
}
/* 进度条 */
.bar {
  width: calc(100% - 30px - 5.6rem);
  height: 2px;
  display: inline-block;
  background-color: rgb(222, 223, 227);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.moveBar {
  height: 2px;
  float: left;
  background-color: #DB4139;
  position: relative;
}
/* 进度条圆圈 */
.moveBar::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1.5px;
  width: 3px;
  height: 3px;
  border: 1px solid #DB4139;
  background-color: #DB4139;
  box-shadow: 0 0 1px 5px white; 
  border-radius: 50%;
}
/* 控制选项 */
.musicFooter {
  width: 100%;
  background-color: rgba(121, 137, 108);
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}