.userHeader {
  width: 100%;
  background-color: #DB4139;
  position: fixed;
  color: white;
  z-index: 99;
}
.userTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userMusic {
  padding: 10px;
  float: right;
  cursor: pointer;
}
.userEmptyClass {
  width: 100%;
  height: 50px;
  position: relative;
  top: 50px;
}