.userBar {
  width: 100%;
  position: relative;
  background:	#F5F5F5
}
.userBarItem {
  width: 100%;
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 0.8rem;
  cursor: pointer;
}
/* 下划线 */
.underline::before {
  content: "";
  /* 计算出除了背景图外的下划线长度，若直接设为100%右边会延展出去  */
  width: calc(100% - 40px);
  position: absolute;
  left: 40px;
  top: 100%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  z-index: 98;
}
/* 右边的箭头 */
.rightArrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* 如果haveGap为true则该bar上下留白 */
.gapClass {
  margin-bottom: 8px;
}
/* 如果haveNew为true则显示红色圈圈 */
.newClass {
  padding-right: 30px;
  background: url('../../assets/newMessage.png') no-repeat 100% -11px;
}
/* 退出登陆 */
.userFooter {
  text-align: center;
  background: white;
  line-height: 40px;
  font-size: 0.9rem;
  color: #DB4139;
  cursor: pointer;
}
/* footer是固定定位，所以要设置一个伪元素占位！！ */
.userBar:after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
